<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lab08</title>

    <!-- Bootstrap CSS Link -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">

  </head>
  <body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">App SteveMaster</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {{#if name}}
          <li class="nav-item">
            <span class="navbar-text mr-3">{{name}}</span>
          </li>

          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>

          {{else}}
          <li class="nav-item">
            <a href="/login" class="nav-link">Login</a>
          </li>

          <li class="nav-item">
            <a href="/register" class="nav-link">Register</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>

    <div class="container mt-5">
      {{{body}}}
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
